:root {
  /* global */
  --ag-font-family: var(--font-sans);
  --ag-inherited-accent-color: var(--color-primary);
  --ag-foreground-color: var(--foreground);
  --ag-background-color: var(--background);
  --ag-border-color: var(--border);
  /* end global */
  /* header */
  --ag-header-background-color: var(--muted);
  --ag-header-foreground-color: var(--muted-foreground);
  --ag-header-column-resize-handle-color: var(--color-border);
  --ag-header-text-color: oklch(from var(--color-foreground) l c h / 0.7);

  /* cell */
  --ag-cell-text-color: oklch(from var(--color-foreground) l c h / 0.8);
  --ag-range-selection-border-color: transparent;
  /* row */
  --ag-row-hover-color: oklch(from var(--color-accent) l c h / 0.4);
  /* --ag-selected-row-background-color: var(--color-green-50); */
  --ag-selected-row-background-color: oklch(from var(--color-primary) l c h / 0.025);
  /* rows background */
  --ag-odd-row-background-color: oklch(from var(--color-muted) l c h / 0.2);
  --ag-data-background-color: var(--color-background);

  /* input */
  /* --ag-input-focus-border: var(--color-primary); */
  --ag-input-focus-text-color: var(--color-foreground);
  --ag-input-focus-background-color: transparent;

  /* tooltip */
  --ag-tooltip-background-color: var(--foreground);
  --ag-tooltip-text-color: var(--background);
  --ag-tooltip-border: solid 1px var(--transparent);
  --ag-widget-container-vertical-padding: calc(var(--spacing) * 1.5);
  --ag-widget-container-horizontal-padding: calc(var(--spacing) * 3);

  /* overlay */
  --ag-modal-overlay-background-color: oklch(from var(--color-background) l c h / 0.8);

  /* icons */
  --ag-icon-color: var(--color-muted-foreground);
  --ag-icon-size: 1rem;
  /* end icons */
}

.ag-theme-tailwind {
  .ag-root-wrapper {
    @apply border-0! rounded-none!;
  }
  .ag-header {
    @apply bg-muted/40;
  }
  .ag-row {
    @apply border-border!;
  }

  .ag-cell {
    @apply tabular-nums;
  }
  .ag-cell-edit-wrapper {
    @apply p-1!;
  }
  .ag-cell-inline-editing {
    @apply border-input! shadow-none!;
  }
  .ag-cell-inline-editing {
    @apply border-none!;
  }
  .ag-input-field-input {
    @apply bg-transparent! border-input! tabular-nums focus:shadow-none!;
  }
  /* popup editor */
  .ag-popup-editor {
    @apply ring-ring/50! rounded-md!;
  }
  /* editor cell */
  .ag-large-text {
    @apply shadow-none!;
  }
  .ag-large-text-input {
    @apply border-input! bg-transparent! p-1! tabular-nums focus:shadow-none! h-max! rounded-md!;
    .ag-text-area-input {
      @apply border-input! focus-visible:border-ring focus-visible:ring-ring/50! dark:bg-input/30! field-sizing-content rounded-sm! px-3! py-2! min-h-16! max-h-24! resize-none!;
    }
  }
  /* tooltip class */
  .ag-tooltip {
    @apply rounded-md! shadow-lg!;
    &.ag-cell-tooltip {
      @apply text-xs! text-balance!;
    }
  }

  /* loading */
  .ag-overlay {
    .ag-overlay-wrapper {
      @apply isolate;
      .ag-overlay-loading-center {
        @apply bg-background! rounded-md! shadow-none! border-border! flex items-center;
        .ag-loading-text {
          @apply text-foreground! text-sm!;
        }
      }
    }
  }
}
